<!DOCTYPE html>
<html>
  <head>
    <title><%= "#{@title} - " if @title %>PiccoBlog</title>
    <meta name="description" content="<%= @meta_description if @meta_description %>" />
    <%= stylesheet_link_tag "picco_blog/application", media: "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <%= yield %>

    <%= javascript_include_tag "picco_blog/application" %>
  </body>
</html>
